<h3><%= link_to yoga_class.title, yoga_class_path(yoga_class) %></h3> <br>
<div id="body-<%= yoga_class.id %>"><%= truncate yoga_class.class_plan %></div>
<button class="js-more" data-id="<%= yoga_class.id %>">More...</button> 
