<h1>List of All Yoga Classes</h1>

<% @yoga_classes.each do |yoga_class| %>
<h3>              <%= link_to yoga_class.title, yoga_class_path(yoga_class) %></h3> <br>
Class Plan:       <%= yoga_class.class_plan %><br>
<%end%>
