<h1>List of All Clients</h1>

<% @clients.each do |client| %>
<h3>              <%= link_to client.org_name, client_path(client) %></h3> <br>
Point of Contact: <%= client.point_of_contact %><br>
Email:            <%= client.email %> <br>
<%end%>
