<div class="text-center">
<h1>Welcome to Yoga Private Client Tracker!</h1>
<ul>
    <% if user_signed_in? %>
<%= link_to "View All Classes", yoga_classes_path, :class => "yoga_classes" %><br>
<%= link_to "View All Clients", clients_path, :class => "clients" %><br>
<%= link_to "View All Users", users_path, :class => "users" %><br>
  <%end%>
</ul>
<div class="listed_clients"></div>
<div class="listed_yoga_classes"></div>
</div>
